body
{
	margin: 0;
	padding: 0;
	background: url(../photos/6aSSMhI-muscle-cars-hd-wallpaper.jpg);
	background-size: cover;
    background-position:top center;
	font-family: sans-serif;
}
.loginBox
{
	position: absolute;
	top: 50%;
	left:80%;
	transform: translate(-50%,-50%);
	width: 320px;
	height: 420px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
   
}
.user
{
	width: 300px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
    
	top: calc(-120px/2);
	right: calc(50% - 150px);
}
h2
{
	margin: 0;
	padding: 0 0 30px;
	color: #FFFF00;
	text-align: center;
}
.loginBox p
{
	margin: 0;
	padding: 03;
	font-weight: bold;
	color: #fff;
}
.loginBox input
{
	width: 100%;
	margin-bottom: 20px;
}
.loginBox input[type="text"],
.loginBox input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 50px;
	color: #fff;
	font-size: 16px;
}

.loginBox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 19px;
	background:#FC0E07;
	cursor:progress;
	border-radius: 20px;
}
.loginBox input[type="submit"]:hover
{
	background: #fff;
	color: #E52C15;
	
}
.loginBox a
{
    
	color: #fff;
	font-size: 15px;
	font-weight: bold;
    font-style: italic;
    
}
#logo img    {
    position: absolute;
    top: -50px;
    left: 100px;

  width: 400px;
    height: px;
  border-radius: 10px;
  margin-right: 5px;
    
  vertical-align: middle ;
}
.contact{
    display: inline-block;
    padding: 120px 210px;
    background: rgb(0,0,0,.5);
    position: relative;
    right: 1%;
    box-shadow: 0px 0px 100px #222;
}
.inside{
    position: relative;
    right: 195px;
    top:40px;
}
#fname,#lname,#email,#password {
    opacity: 0.5;
    padding: 5px;
    width: 200%;
    font-size:20px;
}
.contact p{
    font-size: 20;
    padding: 0;
    margin: 10px;
    font-weight:bold ;
    color: #fff;
}
#send{
    position: absolute;
    bottom: 45px;
    left: 50px;
    color: #fff;
    font-weight: bolder;
}
#submit{
    position: absolute;
    top: 92%;
    left: 550px;
    text-decoration: none;
    color: red;
    font-size: 30px;
    background: #fff;
    border-radius: 0.5em 10px;
}
#submit:hover{
    background: red;
	color: #fff;
}
footer   {
    position: relative;
    top: 3px;
  background: #222;
  color: #777;
  text-align: center;
    font-size: 15px;
    padding-bottom: 50px;
}
.footercontent{
    margin-left:100px;
}

footer a{
    letter-spacing: 2px;
    text-decoration: none;
    color: #777;   
}
footer:hover a{
    color: red;
}

















