
html,
body{}
.introduction img{
    width:100%;
    height: 500px;
}
.introduction{
    position: relative;
    bottom: 180px;
    width: 100%;
  text-align: center;
 
}
.headtitel{position:absolute;
bottom: 200px;
    left: 200px;
  text-shadow: 1px 1px red;;
    color: #fff;
    text-align: center;
    font-size: 50px;
}
.shadow{
    padding: 250px 791px;
    position: absolute;
    top: 45px;
    background: rgb(0,0,0,.5);
   
}
.description{ 
    position:relative;
    bottom: 150px;
    padding-left: 90px; 
    padding-right: 90px;
    font-weight:500;
    letter-spacing: 2px;
     line-height: 2;
}
.numbers{
    padding-top: 1px;
    text-align:center;
    color: #222;
    font-weight:500;
    letter-spacing: 2px;
     line-height: 2;
    
}
.numbers h2{
    font-weight: bold;
    color:#222;
    border-radius: 10em 10em;
    
}
.numbers h2:hover{
    color: red;
   
}
#socialmedia {
  text-align: center;
}

#socialmedia li {
  width: 190px;
  height: 140px;
  display: inline-block;
  margin: 50px;
  list-style: none;
}
#socialmedia li div {
  width: 100%;
  color:#fff;
  font-size: 100px;
  text-align: center;
  line-height: 180px;
  background-color: rgb(0,0,0,.3);
  transition:0.5s ;
}
#socialmedia li a {
  color: #fff;
}
#socialmedia li div:hover {
    background: red;
  transform: rotate(360deg);
  border-radius: 10em;
}
#socialmedia li span {
  height: 50px;
  display: block;
  padding: 15px;
  color: #222;
  text-transform: uppercase;
  font-size: 20px;
    font-weight: bold;
  text-align: center;
}

/* SHoooooop */
.shop1stitem{
    position:relative;
    bottom: 80px;
    right:90px;
}
.shop1stitem img{
    width: 800px;
    height: 400px;
}
.itemshadow{
    background: rgb(0,0,0,0.4);
    padding: 200px 400px;
    position: absolute;
    left: 175px;
}
.shop2stitem{
    position:relative;
    bottom: 485px;
    margin-left: 920px;
}
.shop2stitem img{
    width: 500px;
    height: 400px;
}
.itemshadow2{
    background: rgb(0,0,0,0.4);
    padding: 200px 250px;
    position: absolute;
    left: 0px;
}
.shop1stitem a{
    position:absolute;
    left:182px;
    text-decoration: none;
    color: #fff;
    font-family: LeagueGothic, Impact, sans-serif;
    font-weight:bold;
    font-size: 54px;
    padding: 10px 400px 250px 5px;
}
.shop2stitem a{
    position:absolute;
    right: 190px;
    text-decoration: none;
    color: #fff;
    font-family: LeagueGothic, Impact, sans-serif;
    font-weight:bold;
    font-size: 54px;
    padding: 100px;
}
.shop3stitem{
    position:relative;
    bottom: 480px;
    margin-left: 80px;
}
.shop3stitem img{
    width: 1350px;
    height: 300px;
}
.itemshadow3{
    background: rgb(0,0,0,0.4);
    padding: 150px 675px;
    position: absolute;
    left: 0px;
}
.shop3stitem a{
    position:absolute;
    right: 500px;
    text-decoration: none;
    color: #fff;
    font-family: LeagueGothic, Impact, sans-serif;
    font-weight:bold;
    font-size: 54px;
    padding: 10px 500PX 220px 10px;
}
#shopsearch{
    position:relative;
    bottom: 450px;
    text-align: center;
}
#shopsearch input{
    background:transparent;
    border: 5px solid #222;
    padding: 2px 500px 2px 10px;
    font-size: 30px;
}
#shopsearch button{
    background:transparent;
    padding: 10px;
position: relative;
    bottom: 5px;
    border: 5px solid red;
}

.merch{
    display: inline-block;
    position: relative;
    left: 50px;
    bottom: 400px;
    margin: 20px;
    border: 1px solid #ccc;
    width: 250px;
}

.merch img {
    width: 100%;
   height: 200px;
}

.desc {
    padding: 40px;
    text-align: center;
}
.merch span{
    position: relative;
    left: 75px;
    padding: 18px 15px 9px 10px;
    display:none;
}
.merch:hover span{
    display:block;
    position: relative;
    left: 1px;
    padding:10px;
    text-align: center;
    background: red;
    color: #fff;
}

.merch2{
    background: url(../photos/carbon%20fiber2.png);
    display: inline-block;
    position: relative;
    left: 50px;
    padding: 20px;
    bottom: 250px;
    margin: 20px;
    width: 700px;
}

.merch2 img {
    width: 100%;
   height: 300px;
}
.shadowlast a{
    position: absolute;
    top: 20px;
    padding: 10px 259px 231px 130px;
    text-decoration: none;
    color:#fff;
     font-family: LeagueGothic, Impact, sans-serif;
    font-size:50px;
    background:rgb(0,0,0,0.4); 
    
}
/* event */
.headevent{
    position:relative;
    bottom: 180px;
}
.headevent img{
    width: 100%;
    height: 300px;
}
.headshadow{
    background: rgb(0,0,0,0.4);
    padding: 150px 790px;
    position: absolute;
    top:50px;
}
.headevent a{
    position:absolute;
    bottom: 220px;
    right: 620px;
    text-decoration: none;
    color: #fff;
    font-family: LeagueGothic, Impact, sans-serif;
    font-weight:bold;
    font-size: 54px;
    padding:1px;
    color:#ccc;
}
.event{
    display:block;
    position: relative;
    left: 75%;
    bottom: 100px;
    margin: 20px;
    border: 1px solid red;
    width: 250px;
}

.event img {
    width: 100%;
   height: 150px;
}

.descb {
    padding: 10px;
    background: rgb(0,0,0,0.4);
    font-family: fantasy;
    color: #fff;
}
.event span{
    display:none;
}
.event:hover span{
    display:block;
    position:absolute;
    bottom: 1px;
    padding:100px;
    background: red;
    color: #fff;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.headtitlee p{ position: absolute;
bottom: 170px;
    left: 50px;
    font-size: 40px;
 font-family: Brush, Brush Script Std, cursive;
}

    .calender {
      background: #fff;
      border-collapse: collapse;
      color: #222;
      font-family: 'PT Sans', sans-serif;
      font-size: 13px;
      width: 100%;
    }

    .calender td {
      border: 1px solid #ccc;
      color: #222;
      text-align: center;
    }

    tr:first-child td {
      color: #222;
      font-weight:bold;
    }

     .calender td:hover {
      background: red;
         color: #fff;
    }
 .calenderevents {
      background: rgba(0, 0, 0, .1);
      border-radius: 5px;
      padding: 15px;
      width: 220px;
     position: relative;
     left: 77%;
     bottom: 130px;
    }
.titleevents p{
    position: absolute;
    left:80%;
    bottom: 270px;
    font-size: 40px;
    font-family: Brush Script MT, Brush Script Std, cursive;
}
.rapper{position:relative; height: 4200px;}
.warrper{
    width:900px;
    position:absolute;
    bottom:1px;
    left:200px;
}
.mainevent{
    position: relative;
    margin: 20px;
   
    width:800px;
}

.mainevent img {
   height: 500px;
    width:800px;
}

.eventinfo {
    letter-spacing: 2px;
    line-height: 1.8;
}
.eventTT{
    font-weight: bold;
    font-size: 40px
}
.eventplace button{
    background: transparent;
    border:1px solid transparent;
    font-size: 20px;
}
.eventplace button:hover{
    color: red;
    cursor: pointer;
}
#map{position: absolute;
    top: 50px;
    left:25%;
    width:700px;
    height:700px;
    border: 10px solid #222;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
}
#overlay button{
    font-size: 30px;
    background:red;
    color: #fff;
    float: right;
    margin-top: 50px;
    margin-right: 50px;
    border-radius: 1em;
    cursor:pointer;
}
/* Newsssssssssssss */

.newstitle p{position:absolute;
bottom:530px;
    right: 100px;
text-align: center;
    font-size: 50px;
    font-weight: bold;
        text-shadow: 2px 2px #FF0000;
margin: 0; 
}
.newstitle span{position:absolute;;
bottom: 450px;
left: 180px;
font-size:28px;     
}
.mainnews{
    position: absolute;
    left: 10%;
    bottom: 50px;
    width: 900px;
}
.mainnews img{
    width: 900px;
    min-width:300px;}
.newsinfo{
     letter-spacing: 2px;
    line-height: 1.5;
    color:#595959;
    
}
.Newswrapper{
    position:relative;
    padding-top: 300px;
}
.newsevent{position: relative;
top: 150px;
}
.event a{
    color: #222;
    text-decoration: none;}
.event a:hover{
    color: #fff;}


/* markett */

.merch3{
    display: inline-block;
    margin: 10px;
    position: relative;
    left: 26%;
    border: 1px solid #ccc;
    width: 250px;
}

.merch3 img {
    width: 100%;
   height: 200px;
}

.merch3 span{
    position: relative;
    left: 75px;
    padding: 18px 15px 9px 10px;
    display:none;
}
.merch3:hover span{
    display:block;
    position: relative;
    left: 1px;
    padding:10px;
    text-align: center;
    background: red;
    color: #fff;
    cursor:pointer;
}
.filterarea{position:relative;
top: 10;
    float:left;
    right: 30px;
    bottom: 100px;
}
.filter{
position: absolute;
    top: -30px;
left: -50px;
    padding: 50px;
    color: #fff;
    background: #222;
}
.filter p{font-size: 40px;
font-weight: bold;
    text-decoration: underline;
}
.filter a{
    text-decoration: none;
    line-height: 4;
    color: #fff;
}
.filter a:hover{
    color:red;
}
.filter li{ list-style: none;}


/* reviews */



.reviewarea {
    min-width: 700px;
  max-width: 1900px;
    width: 1400px;
  position: relative;
  margin-left: 100px;;
}
.myslides img{width:100%;
height:400px;;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.caption {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.number123{
  color: #222;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 70px;
}
.reviewwrapper{
    position: relative;    
    width: 1000px;
}
.mainreview{position: relative;
left: 300px;
}
.mainreview img{width:1000px;
    height: 300px;
}
.reviewinfo{
     letter-spacing: 2px;
    line-height: 2;
    color:#595959;
    
}
iframe {width: 1000px;
height: 400px;
}
.reviewTT p{ 
    text-align: center;
    font-weight: bold;
    font-family:sans-serif;
text-shadow: 2px 2px #FF0000;
    font-size: 50px;}
/* blogggggggggggggg */

.blogBB{
    background: #F5F5F5;
    position: relative;
    left: 250px;
    width: 716px;
    border: 8px solid #ccc;
}
.blogbox{
    
    position: relative;
}
.blogbox p{position: absolute;
font-size: 10px;
    color: #ccc;
    bottom: 520px;
    left: 100px;
}
.blogTT img{width: 100px;
position: relative;
top:20px;
}
.blogT2 img{width: 100px;
position: relative;
top:20px;
}
.blogTT{position: relative;
right: 150px;
}
.bloghead{margin-left: 10px;
}
.headphoto img{ width: 700px;
height: 400px;
}
#comment{position: relative;
left:80%;
bottom: 10px;
    padding: 15px;
    background:transparent;
    border: 1px solid #ccc;
}
#point{position: relative;
bottom: 10px;
    right: 50px;
    padding: 15px;
    background:transparent;
    border: 1px solid #ccc;
    font-size: 16px;
}
.BlogWarraper {position: absolute;
top: 350px;
    right:300px;

}
@media screen and (max-width: 1366px){
  .newstitle p{position:absolute;
bottom:350px;
    right: 100px;
}  
.mainnews{
    position: absolute;
    left: 2%;
}    
 .newstitle span{position:absolute;;
bottom: 270px;
left: 25px;
font-size:20px;     
}  
    .headtitlee p{ position: absolute;
bottom: 50px;
}
.titleevents p{
    position: absolute;
    left:83%;
    bottom: 100px;
}
    .warrper{
    width:900px;
    position:absolute;
    left:100px;
}
.headshadow{
    background: rgb(0,0,0,0.4);
    padding: 147px 674px;
}
}